.requisites__list {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.requisites__item {
  @media screen and (max-widht: 767px) {
    margin-bottom: 8px;
  }
  @media screen and (min-widht: 768px) {
    margin-bottom: 8px;
  }

  @media screen and (min-widht: 1200px) {
    margin-bottom: 9px;
  }
}

.requisites__link {
  color: $adress-text-color;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $nav-text-color;
  }
}

.requisites__link--main {
  color: $hero-text-color;
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $nav-text-color;
  }
}
