.logo {
  @media screen and (max-width: 767px) {
    display: block;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: $nav-text-color;
    padding: 16px 0 16px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-family: raleway, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: $nav-text-color;
    padding: 26px 0 26px;
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: $nav-text-color;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo--black {
  color: $main-text-color;
}

.logo--bottom {
  @media screen and(max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }

  @media screen and(min-width: 1200px) {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  display: block;
  font-family: raleway, sans-serif;

  text-decoration: none;
  margin-bottom: 20px;
  color: $nav-text-color;
}

.logo--white {
  color: $hero-text-color;
}
