.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--top {
  @media screen and(max-width:767px) {
    padding: 0 15px;
  }
  // display: flex;
  // align-items: center;
}
