.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

// .container--top {
//   display: flex;
//   align-items: center;
// }

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: gray;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  height: 80px;

  &.is-open {
    display: block;
  }
}
