.advantages__title {
  @extend %hidden;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.advantages__item {
  @media screen and(max-width:767px) {
    width: calc((100% - 2 * 15px) / 1);
    margin: 15px;
  }
  @media screen and(min-width:768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and(min-width:1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.advantages__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: $button-text-background;
  height: 120px;
}

.advantages__subtitle {
  color: $main-text-color;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text {
  color: $secondary-text-color;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.7;
}

.section.advantages {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
