.advantages__title {
  @extend %hidden;
}

// .advantages__list {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     gap: 30px;
//   }
// }

.advantages__item {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
  }
}

.advantages__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: $button-text-background;

  @media screen and(max-width:767px) {
    width: 100%;
    height: 120px;
  }

  //   width: 270px;
  //   height: 120px;
}

.advantages__subtitle {
  color: $main-text-color;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text {
  color: $secondary-text-color;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.7;
}

// .section.advantages {
//   padding-bottom: 0;
// }
